html {
  height: 100%;
}

body {
    background-image: url("/static/img/tlo_strona_zielone.jpg");
    height: 100%;
    width: 100%;
    background-position: top-right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

h1, h4, h3 {
    color: #000000;
    font-weight: bold;
    text-align: justify;
}

.card-title {
    color: #000000;
}

#content-block {
    font-family: Helvetica, Arial, monospace;
}