html {
  height: 100%;
}

nav{
    background-color:rgba(25, 111, 61, 0.5)
}

.navbar-brand {
    color: #0C0C0C;
    font-weight: bold;
}

body {
    background-image: url("/static/img/tlo_strona.jpg");
    height: 100%;
    width: 100%;
    background-position: top-left;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h4, h3 {
    color: #0C0C0C;
    font-weight: bold;
}

.card-title {
    color: #0C0C0C;
}