<!--JAK TO OGARNĄĆ-->

{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
<title>Usuń produkt - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container">
       <a class="navbar-brand" href="{% url 'home' %}">Strona główna</a>
    </div>
    <a href="#top" type="button" class="btn btn-dark btn-sm me-3" style="float: right">Wyloguj się</a>
</nav>
{% endblock %}


{% block content %}
<form method="post" action="">
    <h3>Usuń serwis</h3>
    <p>Czy na pewno chcesz usunąć produkt {{ produkt.verbose_name }}?</p>
    <button type="submit" class="btn btn-dark">Usuń</button>
    <a href="/produkt/list/" type="button" class="btn btn-outline-dark">Anuluj</a>

</form>

{% endblock %}