{% extends "pricemonitor/base.html" %}
{% load static %}

{% block title %}
<title>Edytuj serwis - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Edytuj serwis</h3>
        <div class="col-sm-4 mt-3 mb-3">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Adres URL</label>
                    <input type="url" class="form-control" name="host" id="id_host" value="{{ service.host }}">
                    <br>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nazwa serwisu</label>
                    <input type="text" class="form-control" name="name" id="id_name" value="{{ service.name }}"><br>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nazwa techniczna</label>
                    <input type="text" class="form-control" name="verbose_name" id="id_verbose_name" value="{{ service.verbose_name }}">
                    <br>
                </div>

                <a href="{% url 'servicelist' %}" type="button" class="btn btn-dark">Lista serwisów</a>
                <button type="submit" class="btn btn-outline-dark">Dodaj</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}