{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
    <title>Lista serwisów - Monitoruj ceny i kupuj mądrze </title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Twoje serwisy</h3>
            {% for service in object_list %}
               <div class="col-sm-5 mb-3 mt-3">
                   <div class="card-column" style="width: 18rem;">
                    <div class="card-body">
                    <img src="/static/img/shop_icon.png" class="card-img-top" alt="shop_icon">
                        <h5 class="card-title">{{ service.verbose_name }}</h5>
                        <br>
                        <a href="{% url 'servicedetail' service.id %}" class="btn btn-outline-dark">Więcej</a>
                        <a href="{% url 'serviceupdate' service.id %}" class="btn btn-outline-dark">Edytuj</a>
                        <a href="{% url 'servicedelete' service.id %}" class="btn btn-dark">Usuń</a>
                    </div>
                   </div>
               </div>
               {% empty %}
                    <h4>Jeszcze nie śledzisz żadnych serwisów </h4>
                    <a href="{% url 'servicecreate' %}" class="btn btn-dark btn-sm mb-3 mt-3">Dodaj serwis</a>
            {% endfor %}

             <div class="container mb-3">
                 <div class="row">
                    <a href="{% url 'servicecreate' %}" class="btn btn-dark btn-sm mb-3 mt-3" style="width: 25%;">Dodaj serwis</a>
                 </div>
                 <div class="row">
                    <a href="{% url 'home' %}" class="btn btn-outline-dark btn-sm mb-3" style="width: 25%;">Wróć</a>
                 </div>
             </div>
    </div>
</div>
{% endblock %}