<!--JAK TO OGARNĄĆ-->

{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
<title>Usuń serwis - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block content %}
<form method="post" action="">
    <h3>Usuń serwis</h3>
    <p>Czy na pewno chcesz usunąć serwis {{ service.verbose_name }}?</p>
    <button type="submit" class="btn btn-success">Usuń</button>
    <a href="/service/list/" type="button" class="btn btn-primary">Anuluj</a>

</form>

{% endblock %}