{% extends 'pricemonitor/base.html' %}

{% block content %}

<div class="align-items-center">
  <row>
    <h1>Zapomniałeś hasła?</h1><br>
    <h3>
      Nie ma problemu<br>
      Podaj adres email użyty podczas rejestracji. Wyślemy link z instrukcjami resetowania hasła.
    </h3>
  </row>

  <row>
    <form action="" method="POST" class="text-center">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Wyślij email" /><br>
    </form>
  </row>
  <row class="align-items-center">
    <div class="bt_sm"><a href="{% url 'home' %}">Powrót do strony głównej</a></div>
  </row>
</div>

{% endblock%}