{% extends "pricemonitor/base.html" %}

{% block title %}
<title>Zaloguj się - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="main_subtitle">Zaloguj się</h3>
    <div class="div">
    <div class="row mt-3">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
    </div>
    <div class="row mt-3">
        <div class="bt"><input type="submit" value="Zaloguj się"></div>
        <input type="hidden" name="next" value="{{ next }}">
    </div>
        </form>
    <div class="row">
        <div class="card-title">Nie masz jeszcze konta? <a href="{% url 'register' %}">Załóż je.</a></div>
        <div class="card-title"><a href="{% url 'reset_password' %}">Zapomniałeś hasła?</a></div>
    </div>
    </div>
</div>
{% endblock %}