{% extends "pricemonitor/base.html" %}

{% block title %}
<title>Zarejestruj się - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}


{% block content %}
<div class="container justify-content-center">
    <h3 class="main_subtitle">Zarejestruj się</h3>
    <div class="div">
        <div class="row mt-3">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}
            </div>
            <div class="row">
                <div class="bt"><input type="submit" value="Zarejestruj się"></div>
                <input type="hidden" name="next" value="{{next}}">
            </div>
            </form>
            <div class="row">
                <div class="card-title">Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></div>
                <div class="card-title"><a href="{% url 'reset_password' %}">Zapomniałeś hasła?</a></div>
            </div>
    </div>
</div>
{% endblock %}
