{% extends 'pricemonitor/base.html' %}

{% block title %}
<title>Twój Profil</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="my-10  text-5xl text-start text-ebony">Twoje dane</h3>
</div>
<!-- Left div -->
<div class="flex flex-row mb-32">
    <div class="md:w-1/2">
        <div class="flex flex-col space-y-1 text-left">
            <p class="font-bold text-ebony">Nazwa użytkownika: <p class="underline decoration-1">{{ user.username }}</p></p>
            <p class="font-bold text-ebony">Imię: <p class="underline decoration-1">{{ user.first_name }}</p></p>
            <p class="font-bold text-ebony">Nazwisko: <p class="underline decoration-1">{{ user.last_name }}</p></p>
            <p class="font-bold text-ebony">Adres email: <p class="underline decoration-1">{{ user.email }}</p></p>
        </div>
        <div class="flex flex-col mb-16 space-y-6 md:w-1/2">
            <a href="{% url 'userupdate' %}" class="inline-grid my-3 px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Zaktualizuj dane</a>
            <a href="{% url 'userdelete' user.id %}" class="inline-grid px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Usuń konto</a>
        </div> 
    </div>
</div>


{% endblock content %}