{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
    <title>Lista produktów - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}


{% block content %}
<div>
    <h3 class="px-6 mt-10 text-5xl text-start text-ebony">Produkty, które monitorujesz</h3>
</div>

<div class="px-6 container flex flex-col mt-10 mb-16 space-y-0  md:space-y-0">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    {% for userserviceproduct in object_list %}
        {% if userserviceproduct.user_id == user.id %}
        <div class="max-w-sm grid grid-cols-2 mt-6 rounded-lg shadow-md shadow-gray-700 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 sm:grid-cols-1">
            <!-- Card -->
            <div class="mx-10 py-4 grid gap-5 justify-items-center text-center">
                <img class="object-scale-down h-24 w-96" src="/static/img/product/{{ userserviceproduct.service_product.product.product_name }}.png" alt="">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ userserviceproduct.service_product.product.verbose_name }}</div>
                    <div class="font-bold text-lg mb-2">{{ userserviceproduct.service_product.service.verbose_name }}</div>
                    <a href="{{ userserviceproduct.service_product.product_url }}" target="_blank"><p class="text-gray-700 text-base italic">Link do produktu</p></a>
                    <a href="{% url 'serviceproductdetail' userserviceproduct.service_product.id %}" class="inline-grid my-3 px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">
                        Więcej
                    </a>
                    <a href="{% url 'useserviceproductdelete' userserviceproduct.id %}" class="inline-grid my-3 px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">
                        Przestań obserwować produkt
                    </a>


                </div>

            </div>

        </div>
        {% endif %}
    {% empty %}
    <div>
        <h3 class="px-6 mt-10 text-2xl text-start text-ebony">Nie obserwujesz żadnego produktu</h3>
    </div>
    {% endfor %}
    </div> 
</div>
<div class="container flex flex-col justify-evenly space-y-6 mb-16 px-2">
    <div class="text-start text-ebony font-semibold text-xl space-x-3">
        <a href="{% url 'serviceproductlist' %}" class="underline underline-offset-4">Wszystkie produkty</a>
        <a href="{% url 'servicelist' %}" class="underline underline-offset-4">Wszystkie sklepy</a>
    </div>
</div>

{% endblock %}
