{% extends 'pricemonitor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Dodaj produkt - Monitoruj ceny i kupuj mądrze </title>
{% endblock %}

{% block content %}
<div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-center text-ebony md:text-5xl md:text-left">
            Dodaj produkt
        </h1>
        <form method="POST" action="">
        {% csrf_token %}
        <h4 class="max-w-sm text-center text-dark_jeans md:text-left">
            {{ form|crispy }}
        </h4>    
        <button type="submit" class="p-3 px-6 mt-6 text-white text-center bg-coffee rounded-full hover:bg-pink">Zapisz</button>
        </form>
    <div class="flex flex-col mb-16">
        <a href="{% url 'productlist' %}" class="p-3 px-6 text-white text-center bg-coffee rounded-full hover:bg-pink">Wróc do listy produktów</a>
    </div>   
</div>
{% endblock %}