{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
    <title>Product list - Price Monitor for smart shopping </title>
{% endblock %}

{% block content %}
<div class="main_section layout_padding">
    <h3 class="main_subtitle">Produkty</h3>
    <div class="container justify-content-center">
        <div class="row mt-3">
                {% for product in object_list %}
                <div class="col-sm-6">
                    <div class="card-item" style="width: 18rem;">
                        <div class="card-body">
                            <row>
                                <img src="/static/img/product/{{ product.product_name }}.png" class="card-img-top" alt="product_icon">
                            </row>
                            <row>
                                <h5 class="card-title bt">{{ product.verbose_name }}</h5>
                            </row>
                            <row>
                                <div class="bt_sm"><a href="{% url 'productdetail' product.id %}">Więcej</a></div>
                            </row>
                        </div>
                    </div>
                </div>
                {% empty %}
                        <h3 >Jeszcze nie śledzisz żadnych serwisów </h4>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <div class="bt_sm"><a href="{% url 'productcreate' %}">Dodaj produkt</a></div>
                                </div>
                            </div>
                {% endfor %}
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <div class="bt_sm"><a href="{% url 'productcreate' %}">Dodaj produkt</a></div>
                    </div>
                </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="container">
                <div class="bt"><a href="{% url 'home' %}">Wróć</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


