{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
<title>Usuń produkt - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}


{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <h3>Usuń serwis</h3>
    <p>Czy na pewno chcesz usunąć produkt {{ produkt.verbose_name }}?</p>
    <button type="submit" class="btn btn-dark">Usuń</button>
    <a href="/produkt/list/" type="button" class="btn btn-outline-dark">Anuluj</a>

</form>

{% endblock %}