{% extends 'pricemonitor/base.html' %}

{% block title %}
<title>Twój Profil</title>
{% endblock %}

{% block content %}
        <!-- Left div -->
        <div class="flex flex-col mb-32 space-y-6 md:w-1/2 items-center">
            <h5 class="max-w-md text-4xl font-bold text-center text-ebony md:text-5xl">Twoje dane</b></h5>
            <div class="flex flex-col space-y-1 text-left">
                <p class="font-bold text-ebony">Nazwa użytkownika: <p class="underline decoration-1">{{ user.username }}</p></p>
                <p class="font-bold text-ebony">Imię: <p class="underline decoration-1">{{ user.first_name }}</p></p>
                <p class="font-bold text-ebony">Nazwisko: <p class="underline decoration-1">{{ user.last_name }}</p></p>
                <p class="font-bold text-ebony">Adres email: <p class="underline decoration-1">{{ user.email }}</p></p>
            </div>
            <div class="flex flex-col mb-16 space-y-6 md:w-1/2">
                <a href="{% url 'userupdate' user.id %}" class="p-3 px-6 text-white text-center bg-coffee rounded-full hover:bg-pink">Zaktualizuj dane</a>
                <a href="{% url 'userdelete' user.id %}" class="p-3 px-6 text-white text-center bg-coffee rounded-full hover:bg-pink">Usuń konto</a>
            </div> 
        </div>
          <!-- Right div -->
        <div class="flex flex-col mb-32 space-y-6 md:w-1/2 items-center">
            <div class="flex flex-col justify-center">
                <h5 class="max-w-md text-4xl mb-6 font-bold text-center text-ebony md:text-5xl">Profil <b>{{user.username}}</b></h5>
                <img src="/static/img/profile_images/{{ user.username }}.jpg" class="object-scale-down h-60 w-96" alt="">
            </div>
            <div class="flex flex-col mb-16 md:w-1/2">
                <a href="{% url 'userprofileupdate' user.id %}" class="p-3 px-6 text-white text-center bg-coffee rounded-full hover:bg-pink">Zaktualizuj zdjęcie</a>

            </div> 
        </div>
{% endblock content %}