{% extends 'pricemonitor/base.html' %}
{% load static %}

{% block title %}
    <title>Szczegóły produktu - Monitoruj ceny i kupuj mądrze </title>
{% endblock %}

{% block content %}
<div class="container-detail">
    <div class="row justify-content-center">
        <h3>Szczegóły serwisu </h3>
        <div class="col-sm-6 mt-3 mb-3">
            <p><b>Nazwa serwisu</b> <br>{{ service.verbose_name }}</p>
            <p><b>Nazwa serwisu</b> <br>{{ service.name }}</p>
            <p><b>Adres URL serwisu</b><br><a href="{{ service.host }}" target="_blank">{{ service.host }}</a></p>
        </div>
        <div class="col-sm-6 mt-3 mb-3">
            <p>TU BĘDZIE LOGO SERWISU</p>
        </div>
    </div>

    <a href="{% url 'servicelist' %}" type="button" class="btn btn-dark">Lista serwisów</a>

    <div class="row">
        <h3>Produkty</h3>
        <a href="{% url 'serviceproductcreate' service.id %}" class="btn btn-dark">Dodaj produkt</a><br>

        {% for product in service.products.all %}
            {{ product }}
        {% endfor %}
    </div>
</div>




{% endblock %}