{% extends 'pricemonitor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Produkty - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="mt-32 pt-16 text-5xl text-start text-ebony">Produkty dostępne w naszym sklepie</h3>
</div>
<div class="my-4">
    <form method="POST" action="">
    {% csrf_token %}
    <h4 class="max-w-sm text-center text-ebony md:text-left">
        {{ form|crispy }}
    </h4>    
    <button type="submit" class="inline-grid my-3 px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Zapisz</button>
    </form>
    <div class="flex flex-col mb-16">
        <a href="{% url 'productlist' %}" class="inline-grid my-3 px-3 text-white text-center rounded-md shadow-md shadow-gray-700 bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Wróc do listy produktów</a>
    </div>    
</div>
{% endblock %}