{% extends 'pricemonitor/base.html' %}



{% load static %}

{% block title %}
    <title>Lista produktów - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}


{% block content %}
<div>
    <h3 class="mt-10 text-5xl text-start text-ebony">Wszystkie produkty z tego sklepu </h3>
</div>

<div class="container flex flex-col px-2 mt-10 mb-16 space-y-0 md:space-y-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        {% for serviceproduct in items %}
        {% if user.profile.role == 'a' %}
        <div class="max-w-sm grid grid-cols-2 mt-6 rounded-lg shadow-md shadow-gray-700 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 sm:grid-cols-1">
            <!-- Card -->
            <div class="mx-10 py-4 grid gap-5 justify-items-center text-center">
                <img class="object-scale-down h-24 w-96" src="/static/img/product/{{ serviceproduct.product.product_name }}.svg" alt="">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ serviceproduct.product.verbose_name }}</div>
                    <a href="{% url 'serviceproductdetail' serviceproduct.id %}" target="_blank"><p class="text-gray-700 text-base italic">Link do produktu</p></a>
                    <a href="#" class="inline-grid min-w-full mt-3 px-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">
                        Więcej
                    </a>
                    <a href="{% url 'productslist' serviceproduct.product.id %}" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">
                        Zobacz ten produkt we wszystkich sklepach
                    </a>
                    
                </div>
            </div>

        </div>
            {% else %}
            <div class="max-w-sm grid grid-cols-2 mt-6 rounded-lg shadow-md shadow-gray-700 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 sm:grid-cols-1">
                <!-- Card -->
                <div class="mx-10 py-4 grid gap-5 justify-items-center text-center">
                    <img class="object-scale-down h-24 w-96" src="/static/img/product/{{ serviceproduct.product.product_name }}.svg" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ serviceproduct.product.verbose_name }}</div>
                        <div class="font-bold text-xl mb-2">z {{ serviceproduct.service.verbose_name }}</div>

                        <a href="{{ serviceproduct.product.product_url }}" target="_blank"><p class="text-gray-700 text-base italic">Link do produktu</p></a>

                        <p class="mt-2">{{ product.get_status_display }}</p>
                        <a href="{% url 'serviceproductupdate' serviceproduct.id %}" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Edytuj</a>
                        <a href="{% url 'serviceproductdelete' serviceproduct.id %}" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">Usuń</a>  
                        <a href="{% url 'productslist' serviceproduct.product.id %}" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:bg-stone bg-opacity-80">
                            Zobacz ten produkt we wszystkich sklepach
                        </a>
                    </div>
    
                </div>
    
            </div>
            {% endif %}
        {% endfor %}
    </div> 
</div>
<div class="container flex flex-col justify-evenly space-y-6 mb-16 px-2">
    <div class="text-start text-ebony font-semibold text-xl space-x-3">
        <a href="{% url 'servicecreate' %}" class="underline underline-offset-4">Dodaj produkt do bazy</a>       
    </div>
    <div class="text-start text-ebony font-semibold text-xl space-x-3">
        <a href="{% url 'userserviceproductlist' %}">Wróć</a>
    </div>
</div>
{% endblock %}
