{% extends 'pricemonitor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Edytuj produkt - Monitoruj ceny i kupuj mądrze</title>
{% endblock %}

{% block content %}
<div>
    <h3 class="my-10 text-5xl text-ebony">Edytuj produkt</h3>
</div>
<div class="mb-4">
    <form method="POST" action="">
    {% csrf_token %}
    <h4 class="max-w-sm text-center text-ebony md:text-left">
        {{ form|crispy }}
    <button type="submit" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:text-white">Zapisz</button>
    </form>
    <div class="flex flex-col mb-16">
        <a href="{% url 'productlist' %}" class="inline-grid min-w-full mt-3 text-white text-center rounded-md bg-stone bg-opacity-50 hover:text-white">Wróc do listy produktów</a>
    </div>    
</div>

{% endblock %}
